<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Please Log In</h1>
    <% if(!currentUser){ %>
    <form action="" method="POST">
      <% if (errors.length) { %>
      <ul class="alert alert-danger">
        <% errors.forEach( error => { %>
        <li class="mb-0"><%= error %></li>
        <% }) %>
      </ul>
      <% } %>
      <label for="username">Username</label>
      <input name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input name="password" type="password" />
      <button>Log In</button>
    </form>
    <% } else { %> You're already logged in. <% } %>
  </body>
</html>
